@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f6f7f8 0% 0% no-repeat padding-box;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  opacity: 1;
  top: 0px;
  left: 0px;
  /* background-color: pink; */
}

.Container {
  margin: 1.15rem;
}

.nav-Container {
  /* background-color: yellow; */
  padding-left: 2rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 4.05rem;
  opacity: 1;
}

.details-Container {
  margin-top: 2rem;
}
